<ion-header home>
  <ion-toolbar >
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="goToLogin()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content style=" background-color: #e3e8ef;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- If a guest -->
  <div *ngIf='!isAuth' style="padding: 10px">
    <h1>Welcome aboard</h1>
    <h3>AskAfellow</h3>
    <p>
      Ask a fellow is an educational social network connecting students from the GUC. It's the right place to ask your questions and get answers from your colleagues. No more Facebook study groups hassle, welcome to your learning environment!
    </p>

    

  </div>

  <!-- If a user -->
  <div *ngIf='isAuth'>

    <ion-list no-lines>

      <ion-card *ngFor="let question of questions">

        <div (click)="goToQuestion(question)">

          <ion-item>
            <ion-avatar item-left *ngIf='question.asker[0].profile_picture == ""'>
              <img src="{{" assets/img/default.png"}}">
            </ion-avatar>
            <ion-avatar item-left *ngIf='question.asker[0].profile_picture != ""'>

              <img src="{{question.asker[0].profile_picture}}">
            </ion-avatar>
            <h2>{{question.asker[0].first_name}}
              {{question.asker[0].last_name}}</h2>
            <p>{{question.created_at | date:'yyyy-MM-dd'}}</p>
            <ion-badge item-right>
              {{question.votes}}
              Votes</ion-badge>
          </ion-item>

          <ion-card-content>
            <p>
              {{question.question}}
            </p>
          </ion-card-content>

        </div>
        <ion-row>
          <ion-col center text-center  col-4>
            <button ion-button icon-left clear small [disabled]="!isAuth" (click)="up(question)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>Vote up</div>
            </button>

          </ion-col>
          <ion-col center text-center  col-4>
            <button ion-button icon-left clear small (click)="goToQuestion(question)">
              <ion-icon name="text"></ion-icon>
              <div>{{question.count_answers}}
                Answers</div>
            </button>
          </ion-col>
          <ion-col center text-center  col-3>
            <button ion-button icon-left clear small [disabled]="!isAuth" (click)="down(question)">
              <ion-icon name="thumbs-down"></ion-icon>
              <div>Vote down</div>
            </button>
          </ion-col>



        </ion-row>

      </ion-card>
    </ion-list>
    <div class="center">

      <button ion-button clear [disabled] ="noMore" (click)="more()">show more questions</button>
    </div>

  </div>
</ion-content>
